### JetBrains template
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/misc.xml
.idea/.name
!.idea/compiler.xml.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
out/
.idea/httpRequests

### Java ignore
hs_err_pid*
*.class
*.log
*.jar


### Gradle template
.gradle
/build/
**/build/
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
